<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body style="background-color: lightblue">
		<a href="/new"><button type="button">新規投稿</button> </a>
		<div border="1" style="margin: 16px auto">
			<tr>


				<th>コメント</th>
				<th colspan="2">編集/削除</th>
			</tr>

			<div class="date">
				<form th:action="@{/dateSearch}" th:method="get">
					日付:<input type="date" name="start" value="${start}">～
					<input type="date" name="end" value="${end}">
					<input type="submit" value="絞り込み">
				</form>
			</div>
			<div th:each="content : ${contents}">
				<div>
					<th>ID</th><div th:text="${content.id}"></div>
					<th>内容</th><div th:text="${content.content}"></div>
					<div th:text="${content.createdDate}"></div>
					<div cass="button" style="display: flex;">
						<div>
							<a th:href="@{/comment/{id}(id=${content.id})}"><button type="button">返信</button></a>
					    </div>
						<div>
		                 	<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button> </a>
		                </div>
						<div>
		                    <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
		                        <input type="submit" value="削除">
		                    </form>
		                </div>
					</div>
           		</div>
                <div th:each="text : ${texts}">
	             <div th:if="${content.id == text.reportId}">
					<p>コメント↓</p><p th:text="${text.text}"></p>

	        		<a th:href="@{/commentEdit/{id}(id=${text.id})}"><button type="button">コメント編集</button></a>
	                 <form th:action="@{/commentDelete/{id}(id=${text.id})}" th:method="delete">
	                     <input type="submit" value="コメント削除">
	                 </form>
	             </div>
	            </div>
			</div>
		</div>
	</body>
</html>